.container {
  width: 300px;
  margin: 30px auto;
  padding: 20px;
  text-align: center;
  background: #f8f8f8;
  border-radius: 8px;
  height: 500px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  display: block;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-primary {
  background-color: #7626f0;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.btn-secondary {
  background-color: #d3b3ff;
  color: black;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.radio-group {
  margin: 15px 0;
  text-align: left;
}


.account-settings-container {
  padding: 20px;
}

.profile-card {
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.profile-row {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

.profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-name {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.profile-email {
  margin: 2px 0 0 0;
  font-size: 14px;
  color: #666;
}

.profile-description {
  font-size: 14px;
  color: #555;  
  margin: 0;
  border-top: 1px dashed #ddd;
  padding-top: 15px;
  width: 100%;
}
